@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Antonio', sans-serif;
    background-color: #101820;
    color: #ffffff;
  }

:root {
  --TL-black: #101820;
  --TL-yellow: #FEE715;
}